footer {
	/* background: #ffc922; */
	background: linear-gradient(rgba(83, 83, 38, 0.5), rgba(216, 216, 17, 0.5));
	color: #fff;
	/* padding: 2em; */
	width:100% ;
	height:20rem;
	background-repeat: no-repeat;
	background-size: cover;
	
}