#Header {
    /*	background: #bee0ef;
    */	background: #868c8f;
    padding: .5em;
    }
    
    #logo {
        width: 3rem; 
        margin:5px;
        float: left;
    }
    #Header h1 {
        color: #333;
        font-size: 1.7rem;
        /* padding: 0 1.5em; */
    }
    
    #Header a {
        color: #fff;
    }
    
    #Header a:hover {
        color: #fff;
        text-decoration: none;
    }